@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h2>Project Details</h2>
    <p class="lead" style="font-family:Arial, Helvetica, sans-serif">
        This Website is build for suggest various recipes based on Ingredients to user.<br />
        It is Mini. Project developed for the collage submission under guidance of Professors.<br />
        for more information contact <a href="http://www.pccoepune.com/">PCCoE</a> MCA dept.<br />
        project Developed by -<br />
        <ul>
            <li>Rutuja Kamble</li>
            <li>Abhishek Pande</li>
        </ul>
    </p>
</div>
